{# Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% include "@Bootstrap/styles.html.twig" %}
        <meta content="text/html; charset=utf8" http-equiv="Content-Type" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block bootstrapHeadStyles %}
        {% endblock %}
        <title>{% block bootstrapHeadTitle %}{% endblock %}</title>
    </head>
    <body{% block bootstrapBodyClasses %}{% endblock %}>
        {% block bootstrapBodyContent %}
        {% endblock %}
        {% include "@Bootstrap/scripts.html.twig" %}
        {% block bootstrapBodyScripts %}
        {% endblock %}
    </body>
</html>
