{# Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('bundles/edm/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        {% block bootstrapHeadLinks %}
        {% endblock %}
        <title>{% block bootstrapHeadTitle %}{% endblock %}</title>
    </head>
    <body>
        {% block bootstrapBodyContent %}
        {% endblock %}
        <script src="{{ asset('bundles/edm/jquery/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/edm/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% block bootstrapBodyScripts %}
        {% endblock %}
    </body>
</html>
