<?php

/*
 * This file is part of the bootstrap-bundle package.
 *
 * (c) 2018 WEBEWEB
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

// Symfony autoloader.
$symfonyAutoloader = __DIR__ . "/../../../../app/autoload.php";

// Composer autoloader.
$composerAutoloader = __DIR__ . "/../vendor/autoload.php";

// Check if the bundle is in a Symfony project.
if (true === is_file($symfonyAutoloader)) {
	include $symfonyAutoloader;
} else if (true === is_file($composerAutoloader)) {
	include $composerAutoloader;
} else {
	die("Unable to find autoload.php. Please run:

wget http://getcomposer.org/composer.phar
php composer.phar install");
}
