{# Resources/views/layout/_no_data_display.html.twig #}
<div style="text-align: center;">
    {{ faIcon({"name": "frown", "font": "r", "size": "10x"}) }}
    <p style="margin-top: 20px;">
    <h3>{{ "label.no_data_display"|trans([], "WBWBootstrapBundle") }}</h3>
    </p>
</div>
