{# Resources/views/layout/_no_data_to_display.html.twig #}
<div class="text-center no-data-to-display">
    {{ faIcon({"name": "sad-tear", "font": "r", "size": "10x"}) }}
    <h5>{{ "label.no_data_to_display"|trans([], "WBWBootstrapBundle") }}</h5>
</div>
