{# Resources/views/layout/_work-in-progress.html.twig #}
<div style="text-align: center;">
    {{ fontAwesomeIcon({"font": "b", "name": "github", "size": "10x"}) }}
    <p style="margin-top: 20px;">
        {{ fontAwesomeIcon({"name": "spinner", "animation": "spin"}) }} {{ "label.work_in_progress"|trans([], "WBWBootstrapBundle") }}
    </p>
</div>