{# Resources/views/layout/_work-in-progress.html.twig #}
<div class="text-center work-in-progress">
    {{ faIcon({"name": "github", "font": "b", "size": "10x"}) }}
    <h5>{{ faIcon({"name": "spinner", "animation": "spin"}) }} {{ "label.work_in_progress"|trans([], "WBWBootstrapBundle") }}</h5>
</div>
