{# Resources/views/layout/work-progress.html.twig #}
<div style="text-align: center;">
    {{ fontAwesomeIcon({"font": "b", "name": "github", "size": "10x"}) }}
    <p style="margin-top: 20px;">
        {{ fontAwesomeIcon({"name": "spinner", "animated": "spin"}) }} {{ "label.work_in_progress"|trans({}, "WBWBootstrapBundle") }}
    </p>
</div>
