{# Resources/views/assets/wbwBootstrapNotify.html.twig #}
<div class="bootstrap-notify-container alert alert-dismissible {0} p-r-35" role="alert" data-notify="container">
    <button class="close" type="button" aria-hidden="true" data-notify="dismiss">×</button>
    <span data-notify="icon"></span>
    <span data-notify="title">{1}</span>
    <span data-notify="message">{2}</span>
    <div class="progress" data-notify="progressbar">
        <div class="progress-bar progress-bar-{0}" style="width: 0;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <a href="{3}" target="{4}" data-notify="url"></a>
</div>
